

hr{
  border:dotted #834c69 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
  }

  body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  h1{
    font-size: 5.625rem;
    color: #834c69;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
  }

  h2{
    font-size: 2.625rem;
    font-weight: normal;
    color: #3c4f65;
    font-family: 'Raleway', sans-serif;
  }

  h3 {
    color: #33313b;
    font-family: 'Raleway', sans-serif;
  }

  p
  {
    line-height: 2;
  }

  a{
    color: #33313b;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  a:hover{
    color: #e6f5ff;
  }

  ul{
  display: inline-block;
}

.top-container {
  background-color: #f4f9f4;
  position: relative;
  padding-top: 100px;
}

.middle-container {
margin: 100px 0;
}

.bottom-container {
  background-color: #834c69;
  padding: 50px 0 20px;
}

.pro{
text-decoration: underline;
}

.intro{
  width: 50%;
  margin: auto;
  text-align: justify;
}

.contact-me{
  width: 400px;
  margin: 40px auto 60px;
}

.copyright{
  color: #33313b;
  padding: 20px 0;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}


.banner{
  width: 50%;
}

.dev-img{
  width: 25%;
  float: left;
  margin-right: 30px
}

.eng-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-img{
  align-content: center;
  margin: auto;
  width: 30%;
}

.btn {
  background: #834c69;
  background-image: -webkit-linear-gradient(top, #834c69, #3f3d56);
  background-image: -moz-linear-gradient(top, #834c69, #3f3d56);
  background-image: -ms-linear-gradient(top, #834c69, #3f3d56);
  background-image: -o-linear-gradient(top, #834c69, #3f3d56);
  background-image: linear-gradient(to bottom, #834c69, #3f3d56);
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 100;
  text-decoration: none;
}

.btn:hover {
  background: #ab869a;
  background-image: -webkit-linear-gradient(top, #ab869a, #834c69);
  background-image: -moz-linear-gradient(top, #ab869a, #834c69);
  background-image: -ms-linear-gradient(top, #ab869a, #834c69);
  background-image: -o-linear-gradient(top, #ab869a, #834c69);
  background-image: linear-gradient(to bottom, #ab869a, #834c69);
  text-decoration: none;
}
